Repository 3nd3r1/datakolo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

docs: Add hours for 25.04.
  docs/hours.md
Due: none

refactor(backend): Refactor backend config
  backend/src/utils/config.ts
Due: backend

refactor(backend): Refactor backend error handling
  backend/src/middlewares/error.ts
Due: backend

refactor(backend): Refactor log handling
  backend/deno.json
  backend/deno.lock
  backend/src/app.ts
  backend/src/utils/config.ts
  backend/src/utils/db.ts
  backend/src/utils/logger.ts
  backend/tests/integration/repository.test.ts
Due: backend

build(backend): Improve Dockerfile
  backend/build/Dockerfile
Due: backend

refactor(frontend): Start refactoring frontend server actions to not throw errors
  frontend/src/lib/auth.ts
  frontend/src/lib/utils.ts
Due: frontend

docs: Add hours for 01.05.
  docs/hours.md
Due: none

refactor(frontend): Finish refactoring server actions to now throw errors
  frontend/src/app/projects/(projects)/layout.tsx
  frontend/src/app/projects/(projects)/page.tsx
  frontend/src/app/projects/[projectId]/api-builder/layout.tsx
  frontend/src/app/projects/[projectId]/api-builder/page.tsx
  frontend/src/app/projects/[projectId]/content/[repositoryId]/[contentId]/page.tsx
  frontend/src/app/projects/[projectId]/content/[repositoryId]/page.tsx
  frontend/src/app/projects/[projectId]/content/layout.tsx
  frontend/src/app/projects/[projectId]/layout.tsx
  frontend/src/app/projects/[projectId]/page.tsx
  frontend/src/app/projects/[projectId]/schema/[repositoryId]/page.tsx
  frontend/src/app/projects/[projectId]/schema/layout.tsx
  frontend/src/app/projects/[projectId]/settings/layout.tsx
  frontend/src/app/projects/[projectId]/settings/page.tsx
  frontend/src/components/common/layouts/main-navbar.tsx
  frontend/src/components/common/layouts/user-nav.tsx
  frontend/src/components/login/login-form.tsx
  frontend/src/components/login/register-form.tsx
  frontend/src/components/projects/project-create-dialog.tsx
  frontend/src/components/projects/project-edit-form.tsx
  frontend/src/components/projects/project-sidebar.tsx
  frontend/src/components/projects/repository/content/content-create-dialog.tsx
  frontend/src/components/projects/repository/content/content-edit-form.tsx
  frontend/src/components/projects/repository/repository-create-dialog.tsx
  frontend/src/components/projects/repository/schema/schema-field-create-dialog.tsx
  frontend/src/components/projects/settings/project-api-key-card.tsx
  frontend/src/lib/auth.ts
  frontend/src/lib/content.ts
  frontend/src/lib/project.ts
  frontend/src/lib/repository.ts
  frontend/src/lib/utils.ts
  frontend/src/middleware.ts
  frontend/src/validators/content.tsx
  frontend/src/validators/repository.tsx
  frontend/src/validators/user.tsx
  frontend/tests/unit/login/login-form.test.tsx
  frontend/tests/unit/login/register-form.test.tsx
  frontend/tests/unit/projects/project-create-dialog.test.tsx
Due: frontend

fix(backend): Fix issue in backend error handling
  backend/.example.env
  backend/deno.json
  backend/src/middlewares/error.ts
  backend/src/utils/config.ts
Due: backend

build(backend): Dont create deno user in Dockerfile
  backend/build/Dockerfile
Due: backend

build(frontend): Fix frontend Dockerfile
  frontend/build/Dockerfile
Due: frontend

docs: Add hours 02.05.
  docs/hours.md
Due: none

chore(frontend): Update packages
  frontend/package-lock.json
  frontend/package.json
Due: frontend

fix(auth): Fix logout
  frontend/src/app/logout/route.ts
  frontend/src/components/common/layouts/user-nav.tsx
  frontend/src/lib/auth.ts
  frontend/src/middleware.ts
Due: frontend

fix(navbar): Fix navbar logo size
  frontend/src/components/common/layouts/main-navbar.tsx
Due: frontend

docs: Add hours for 08.05.
  docs/hours.md
Due: none

docs: Update README.md with alot of info
  README.md
  docs/images/screenshots/create-apikey.png
  docs/images/screenshots/create-content.png
  docs/images/screenshots/create-project.png
  docs/images/screenshots/create-repository.png
  docs/images/screenshots/create-schema.png
  docs/images/screenshots/use-apibuilder.png
Due: none

docs: Update emojis
  README.md
Due: none

docs: Update README.md images
  README.md
Due: none

fix(frontend): Use a differente serverApiUrl for server actions
  frontend/.example.env
  frontend/src/lib/api.ts
  frontend/src/lib/auth.ts
  frontend/src/lib/config.ts
  frontend/src/lib/content.ts
  frontend/src/lib/project.ts
  frontend/src/lib/repository.ts
Due: frontend

chore(docker-compose): Improve the docker-compose
  docker-compose.yml
Due: none

docs: Update the tutorial images in README.md
  README.md
  docs/images/screenshots/create-apikey.png
  docs/images/screenshots/create-content.png
  docs/images/screenshots/create-project.png
  docs/images/screenshots/create-repository.png
  docs/images/screenshots/create-schema.png
  docs/images/screenshots/use-apibuilder.png
  docs/images/tutorial/create-api-key.gif
  docs/images/tutorial/create-content.gif
  docs/images/tutorial/create-fields.gif
  docs/images/tutorial/create-project.gif
  docs/images/tutorial/create-repository.gif
  docs/images/tutorial/register.gif
  docs/images/tutorial/use-api-builder.gif
Due: none

docs: Add hours for 15.05. and 16.05.
  docs/hours.md
Due: none

docs: Add url to README.md
  README.md
Due: none

fix(frontend): Make ApiOptions body an any
  frontend/src/lib/api.ts
Due: frontend

chore: Add MIT LICENSE
  LICENSE
Due: none

fix(backend): Fix backend tests with superoak
  backend/.example.env
  backend/deno.json
  backend/deno.lock
  backend/src/app.ts
  backend/src/main.ts
Due: backend

build(backend): Set deno version to 2.4.0
  backend/build/Dockerfile
  backend/deno.lock
Due: backend

build(*): Improve docker-compose
  Makefile
  README.md
  docker-compose.yml
Due: none

fix(backend): Update deno.lock
  backend/deno.lock
  backend/src/utils/db.ts
Due: backend

fix(frontend): fix react2shell vulnerability
  frontend/package-lock.json
  frontend/package.json
Due: frontend

fix(frontend): fix layout.tsx
  frontend/src/app/projects/[projectId]/layout.tsx
Due: frontend

Path conditions:
  backend: any of: backend
  frontend: any of: frontend
