Repository 3nd3r1/datakolo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

flags:
  backend:
    paths:
      - backend
  frontend:
    paths:
      - frontend

chore(backend): Update coverage inclusion
  backend/deno.json
Due: backend

feat(user): Add mongoose and User model to backend
  backend/.example.env
  backend/.gitignore
  backend/deno.json
  backend/deno.lock
  backend/seed.ts
  backend/src/models/user.ts
Due: backend

chore(docker-compose): Add mongodb docker-compose
  .gitignore
  docker-compose.yml
Due: none

chore(backend): Fix coverage inclusion
  backend/deno.json
  backend/deno.lock
Due: backend

docs: Add missing hours
  docs/hours.md
Due: none

feat(user): Implement user login and register
  backend/.example.env
  backend/deno.json
  backend/deno.lock
  backend/seed.ts
  backend/src/app.ts
  backend/src/controllers/auth.ts
  backend/src/main.ts
  backend/src/models/user.ts
  backend/src/routes/auth.ts
  backend/src/types/user.ts
  backend/src/utils/config.ts
  backend/src/utils/db.ts
  backend/src/utils/dummy.ts
  backend/src/utils/hash.ts
  backend/src/utils/jwt.ts
  backend/src/validators/user.ts
Due: backend

tests(auth): Add a very simple login test
  backend/tests/auth.test.ts
  backend/tests/db.ts
  backend/tests/dummy.test.ts
Due: backend

chore(ci): Add mongodb to ci pipeline
  .github/workflows/ci.yaml
Due: none

docs: Adding hours for the day
  docs/hours.md
Due: none

refactor(backend): Add error handler middleware
  backend/src/app.ts
  backend/src/middlewares/error.ts
Due: backend

feat(auth): Add authentication middleware
  backend/src/controllers/auth.ts
  backend/src/middlewares/auth.ts
  backend/src/models/user.ts
  backend/src/routes/home.ts
  backend/src/utils/jwt.ts
Due: backend

chore(backend): Fix lint errors
  backend/src/controllers/auth.ts
  backend/src/middlewares/error.ts
  backend/src/utils/jwt.ts
  backend/tests/auth.test.ts
  backend/tests/db.ts
Due: backend

feat(user): Implement login in frontend
  frontend/components.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/(main)/layout.tsx
  frontend/src/app/(main)/page.tsx
  frontend/src/app/(main)/projects/page.tsx
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/login/page.tsx
  frontend/src/components/app-sidebar.tsx
  frontend/src/components/theme-provider.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/form.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/label.tsx
  frontend/src/components/ui/separator.tsx
  frontend/src/components/ui/sheet.tsx
  frontend/src/components/ui/sidebar.tsx
  frontend/src/components/ui/skeleton.tsx
  frontend/src/components/ui/toast.tsx
  frontend/src/components/ui/toaster.tsx
  frontend/src/components/ui/tooltip.tsx
  frontend/src/hooks/use-mobile.tsx
  frontend/src/hooks/use-toast.ts
  frontend/src/lib/auth.ts
  frontend/src/lib/config.ts
  frontend/src/lib/utils.ts
  frontend/src/middleware.ts
  frontend/src/types/user.tsx
  frontend/tailwind.config.ts
Due: frontend

feat(auth): Add user path to backend
  backend/src/controllers/auth.ts
  backend/src/routes/auth.ts
Due: backend

docs: Add hours for the day
  docs/hours.md
Due: none

chore(*): Fix linting issues
  backend/src/controllers/auth.ts
  frontend/src/app/login/page.tsx
  frontend/src/components/ui/toast.tsx
  frontend/src/components/ui/toaster.tsx
  frontend/src/hooks/use-toast.ts
Due: backend, frontend

docs: Add hours for the day 11.11.
  docs/hours.md
Due: none

chore(frontend): Remove useless console.log
  frontend/src/lib/auth.ts
Due: frontend

fix(login): Add redirect after login
  frontend/src/app/login/page.tsx
Due: frontend

feat(auth): Add logout button
  frontend/src/app/logout/route.ts
  frontend/src/components/app-sidebar.tsx
  frontend/src/lib/auth.ts
Due: frontend

chore(frontend): Fix frontend tests
  frontend/src/app/(main)/page.tsx
  frontend/tests/home.test.tsx
Due: frontend

test: Add Login tests
  frontend/src/app/login/page.tsx
  frontend/src/components/login/login-form.tsx
  frontend/tests/home.test.tsx
  frontend/tests/login.test.tsx
  frontend/vitest.config.ts
Due: frontend

docs: Add hours for 12.11.
  docs/hours.md
Due: none

chore(backend): Fix test task
  backend/deno.json
Due: backend

fix(auth): Fix error handling for mongoose error
  backend/src/controllers/auth.ts
Due: backend

refactor(backend): Add import aliases
  backend/deno.json
  backend/src/app.ts
  backend/src/controllers/auth.ts
  backend/src/middlewares/auth.ts
  backend/src/middlewares/error.ts
  backend/src/models/user.ts
  backend/src/routes/auth.ts
  backend/src/routes/home.ts
  backend/src/utils/db.ts
  backend/src/utils/jwt.ts
  backend/src/validators/user.ts
Due: backend

test(auth): Add backend auth tests
  backend/tests/auth.test.ts
  backend/tests/db.ts
Due: backend

fix(auth): Make login-form client-component
  frontend/src/components/login/login-form.tsx
Due: frontend

feat(auth): Implement registering
  backend/src/controllers/auth.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/login/page.tsx
  frontend/src/components/login/register-form.tsx
  frontend/src/components/ui/tabs.tsx
  frontend/src/lib/auth.ts
Due: backend, frontend

docs: Add hours for 18.11.
  docs/hours.md
Due: none

refactor(backend): Move types to validators folder
  backend/src/app.ts
  backend/src/controllers/auth.ts
  backend/src/middlewares/auth.ts
  backend/src/models/user.ts
  backend/src/types/user.ts
  backend/src/validators/user.ts
Due: backend

feat(projects): Add project routes to backend
  backend/seed.ts
  backend/src/app.ts
  backend/src/controllers/project.ts
  backend/src/middlewares/error.ts
  backend/src/models/project.ts
  backend/src/routes/project.ts
  backend/src/validators/project.ts
  backend/tests/auth.test.ts
  backend/tests/db.ts
  backend/tests/project.test.ts
Due: backend

test(frontend): Fix frontend auth tests
  frontend/tests/unit/home.test.tsx
  frontend/tests/unit/login-form.test.tsx
  frontend/tests/unit/register-form.test.tsx
Due: frontend

test(*): Move tests to correct subfolders
  backend/.example.env
  backend/tests/integration/auth.test.ts
  backend/tests/integration/db.ts
  backend/tests/integration/project.test.ts
  frontend/.example.env
  frontend/tests/unit/home.test.tsx
  frontend/tests/unit/login.test.tsx
  frontend/tests/unit/register.test.tsx
  frontend/tests/unit/testSetup.ts
  frontend/vitest.config.ts
Due: backend, frontend

fix(auth): Fix backend /user path
  backend/src/middlewares/auth.ts
  backend/src/validators/user.ts
Due: backend

test(auth): Fix login-form tests
  frontend/tests/login.test.tsx
Due: frontend

refactor(backend): Refactoring almost entire backend
  backend/src/app.ts
  backend/src/controllers/auth.ts
  backend/src/controllers/project.ts
  backend/src/main.ts
  backend/src/middlewares/auth.ts
  backend/src/models/project.ts
  backend/src/models/user.ts
  backend/src/services/project.ts
  backend/src/services/user.ts
  backend/src/utils/hash.ts
  backend/src/validators/project.ts
  backend/src/validators/user.ts
  backend/tests/integration/auth.test.ts
Due: backend

fix(auth): Fix frontend login and register
  frontend/src/components/login/login-form.tsx
  frontend/src/components/login/register-form.tsx
  frontend/src/lib/auth.ts
  frontend/src/middleware.ts
Due: frontend

test(auth): Add backend user path test
  backend/src/routes/home.ts
  backend/tests/integration/auth.test.ts
Due: backend

docs: Add hours for 25.11.
  docs/hours.md
Due: none
