Repository 3nd3r1/datakolo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

docs: Add hours for 31.01.
  docs/hours.md
Due: none

refactor(project): Refactor project navigation
  frontend/src/app/(main)/page.tsx
  frontend/src/app/projects/(projects)/layout.tsx
  frontend/src/app/projects/(projects)/page.tsx
  frontend/src/app/projects/[projectId]/layout.tsx
  frontend/src/app/projects/[projectId]/page.tsx
  frontend/src/app/projects/[projectId]/repositories/[repositoryId]/page.tsx
  frontend/src/app/projects/[projectId]/repositories/layout.tsx
  frontend/src/app/projects/[projectId]/repositories/page.tsx
  frontend/src/components/main-navbar.tsx
  frontend/src/components/main-sidebar.tsx
  frontend/src/components/projects/project-sidebar.tsx
  frontend/src/components/projects/repositories/repositories-sidebar.tsx
  frontend/src/middleware.ts
Due: frontend

docs: Add hours for 13.02.
  docs/hours.md
Due: none

refactor(project): Finish refactoring project navigation
  frontend/src/app/not-found.tsx
  frontend/src/app/projects/[projectId]/layout.tsx
  frontend/src/app/projects/[projectId]/repositories/[repositoryId]/contents/page.tsx
  frontend/src/app/projects/[projectId]/repositories/page.tsx
  frontend/src/components/main-navbar.tsx
  frontend/src/components/projects/project-list.tsx
  frontend/src/components/projects/project-sidebar.tsx
  frontend/src/components/projects/repositories/schema-view.tsx
  frontend/src/components/ui/separator.tsx
  frontend/src/components/user-nav.tsx
Due: frontend

feat(content): Starting contentView
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/projects/[projectId]/repositories/[repositoryId]/page.tsx
  frontend/src/components/projects/repositories/content-view.tsx
  frontend/src/components/ui/data-table.tsx
  frontend/src/validators/content.tsx
Due: frontend

docs: Add hours for 14.02.
  docs/hours.md
Due: none

chore(*): Remove blog-frontend
  blog-frontend/.eslintrc.json
  blog-frontend/.gitignore
  blog-frontend/.prettierrc
  blog-frontend/next.config.ts
  blog-frontend/package-lock.json
  blog-frontend/package.json
  blog-frontend/postcss.config.mjs
  blog-frontend/src/app/fonts/GeistMonoVF.woff
  blog-frontend/src/app/fonts/GeistVF.woff
  blog-frontend/src/app/globals.css
  blog-frontend/src/app/layout.tsx
  blog-frontend/src/app/page.tsx
  blog-frontend/tailwind.config.ts
  blog-frontend/tsconfig.json
Due: none

feat(content): Finnish contentView
  frontend/src/app/projects/[projectId]/repositories/[repositoryId]/contents/create/page.tsx
  frontend/src/app/projects/[projectId]/repositories/[repositoryId]/contents/page.tsx
  frontend/src/app/projects/[projectId]/repositories/[repositoryId]/page.tsx
  frontend/src/components/projects/repositories/content-view.tsx
  frontend/src/components/projects/repositories/schema-view.tsx
  frontend/src/components/ui/data-table.tsx
Due: frontend

chore(lint): Add ignore pattern to unused-vars eslint
  frontend/.eslintrc.json
Due: frontend

docs: Add hours for 20.02.
  docs/hours.md
Due: none

feat(content): Start implementing content creation
  frontend/src/app/projects/[projectId]/repositories/[repositoryId]/contents/create/page.tsx
  frontend/src/app/projects/[projectId]/repositories/[repositoryId]/page.tsx
  frontend/src/components/projects/repositories/content-create-form.tsx
  frontend/src/validators/content.tsx
  frontend/src/validators/repository.tsx
Due: frontend

docs: Add hours for 21.02.
  docs/hours.md
Due: none

feat(content): Finish implementing content creation
  frontend/src/components/projects/repositories/content-create-form.tsx
Due: frontend

refactor(frontend): Refactoring frontend to be more seemless
  frontend/src/app/globals.css
  frontend/src/app/projects/[projectId]/content/[repositoryId]/[contentId]/page.tsx
  frontend/src/app/projects/[projectId]/content/[repositoryId]/create/page.tsx
  frontend/src/app/projects/[projectId]/content/[repositoryId]/page.tsx
  frontend/src/app/projects/[projectId]/content/layout.tsx
  frontend/src/app/projects/[projectId]/content/page.tsx
  frontend/src/app/projects/[projectId]/layout.tsx
  frontend/src/app/projects/[projectId]/repositories/page.tsx
  frontend/src/app/projects/[projectId]/schema/[repositoryId]/page.tsx
  frontend/src/app/projects/[projectId]/schema/layout.tsx
  frontend/src/app/projects/[projectId]/schema/page.tsx
  frontend/src/components/projects/project-sidebar.tsx
  frontend/src/components/projects/repositories/content-view.tsx
  frontend/src/components/projects/repositories/field-create-dialog.tsx
  frontend/src/components/projects/repositories/repositories-sidebar.tsx
  frontend/src/components/projects/repositories/schema-view.tsx
  frontend/src/components/user-nav.tsx
Due: frontend

docs: Add hours for 27.02.
  docs/hours.md
Due: none

refactor(frontend): Add active indicator to navs
  frontend/src/components/main-navbar.tsx
  frontend/src/components/projects/project-create-dialog.tsx
  frontend/src/components/projects/repositories/field-create-dialog.tsx
  frontend/src/components/projects/repositories/repositories-sidebar.tsx
Due: frontend

refactor(frontend): Turn content-create-form into a dialog
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/globals.css
  frontend/src/app/projects/[projectId]/content/[repositoryId]/create/page.tsx
  frontend/src/app/projects/[projectId]/content/[repositoryId]/page.tsx
  frontend/src/components/projects/repositories/content-create-dialog.tsx
  frontend/src/components/ui/switch.tsx
Due: frontend

feat(content): Start implementing content-edit-form
  frontend/src/app/projects/[projectId]/content/[repositoryId]/[contentId]/page.tsx
  frontend/src/components/projects/repositories/content-edit-form.tsx
  frontend/src/components/projects/repositories/content-view.tsx
Due: frontend

docs: Add hours for 28.02.
  docs/hours.md
Due: none

docs: Update README.md description
  README.md
Due: none

feat(content): Add content update path to backend
  backend/src/controllers/content.ts
  backend/src/routes/content.ts
  backend/src/services/content.ts
  backend/src/validators/content.ts
Due: backend

chore(style): Format with deno_fmt in backend
  .nvim.lua
  backend/.prettierrc
Due: backend

feat(content): Add displayName to content-edit-form
  frontend/src/app/projects/[projectId]/content/[repositoryId]/[contentId]/page.tsx
  frontend/src/components/projects/project-sidebar.tsx
  frontend/src/components/projects/repositories/content-display-name.tsx
  frontend/src/components/projects/repositories/content-edit-form.tsx
  frontend/src/components/projects/repositories/content-view.tsx
  frontend/src/components/projects/repositories/repositories-sidebar.tsx
  frontend/src/components/ui/data-table.tsx
  frontend/src/lib/utils.ts
Due: frontend

docs: Add hours for 06.03.
  docs/hours.md
Due: none

chore(*): Add a makefile
  .gitignore
  Makefile
Due: none

chore(style): Add prettier formatting rules to frontend
  frontend/.prettierrc
Due: frontend

refactor(frontend): Restructure the components
  frontend/src/app/layout.tsx
  frontend/src/app/projects/(projects)/layout.tsx
  frontend/src/app/projects/[projectId]/content/[repositoryId]/[contentId]/page.tsx
  frontend/src/app/projects/[projectId]/content/[repositoryId]/page.tsx
  frontend/src/app/projects/[projectId]/schema/[repositoryId]/page.tsx
  frontend/src/components/common/layouts/main-navbar.tsx
  frontend/src/components/common/layouts/theme-provider.tsx
  frontend/src/components/common/layouts/user-nav.tsx
  frontend/src/components/projects/project-sidebar.tsx
  frontend/src/components/projects/repositories/content/content-create-dialog.tsx
  frontend/src/components/projects/repositories/content/content-display-name.tsx
  frontend/src/components/projects/repositories/content/content-edit-form.tsx
  frontend/src/components/projects/repositories/content/content-list.tsx
  frontend/src/components/projects/repositories/schema/schema-field-create-dialog.tsx
  frontend/src/components/projects/repositories/schema/schema-view.tsx
  frontend/src/validators/content.tsx
  frontend/tests/unit/projects/project-list.test.tsx
Due: frontend

refactor(frontend): Add reusable field components
  frontend/.prettierrc
  frontend/src/components/common/forms/form-fields.tsx
  frontend/src/components/login/login-form.tsx
  frontend/src/components/login/register-form.tsx
  frontend/src/components/projects/project-create-dialog.tsx
  frontend/src/components/projects/repositories/content/content-create-dialog.tsx
  frontend/src/components/projects/repositories/content/content-data-field.tsx
  frontend/src/components/projects/repositories/content/content-edit-form.tsx
  frontend/src/components/projects/repositories/repositories-sidebar.tsx
  frontend/src/components/projects/repositories/schema/schema-field-create-dialog.tsx
  frontend/tests/unit/login/login-form.test.tsx
  frontend/tests/unit/login/register-form.test.tsx
  frontend/tests/unit/projects/project-create-dialog.test.tsx
Due: frontend

docs: Add hours for 07.03.
  docs/hours.md
Due: none

feat(content): Finished implementing content editing
  frontend/src/app/projects/[projectId]/content/[repositoryId]/[contentId]/page.tsx
  frontend/src/components/common/forms/form-fields.tsx
  frontend/src/components/projects/project-create-dialog.tsx
  frontend/src/components/projects/repositories/content/content-edit-form.tsx
  frontend/src/lib/content.ts
Due: frontend

refactor(backend): Make update content a PUT
  backend/src/routes/content.ts
Due: backend

refactor(frontend): Use Next.js fetch instead of Axios
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/common/forms/form-fields.tsx
  frontend/src/components/projects/repositories/schema/schema-field-create-dialog.tsx
  frontend/src/lib/auth.ts
  frontend/src/lib/content.ts
  frontend/src/lib/project.ts
  frontend/src/lib/repository.ts
Due: frontend

docs: Add hours for 13.03.
  docs/hours.md
Due: none

refactor(backend): Refactoring NotFound errors
  backend/src/controllers/content.ts
  backend/src/controllers/project.ts
  backend/src/controllers/repository.ts
  backend/src/services/content.ts
  backend/src/services/project.ts
  backend/src/services/repository.ts
Due: backend

docs: Add hours for 14.03.
  docs/hours.md
Due: none

fix(repository): Set default contentSchema to empty object
  backend/src/models/repository.ts
  backend/src/validators/repository.ts
Due: backend

feat(repository): Implemented repository creation
  frontend/src/app/projects/[projectId]/content/[repositoryId]/[contentId]/page.tsx
  frontend/src/app/projects/[projectId]/content/[repositoryId]/page.tsx
  frontend/src/app/projects/[projectId]/content/layout.tsx
  frontend/src/app/projects/[projectId]/schema/[repositoryId]/page.tsx
  frontend/src/app/projects/[projectId]/schema/layout.tsx
  frontend/src/components/projects/project-create-dialog.tsx
  frontend/src/components/projects/repositories/schema-view.tsx
  frontend/src/components/projects/repository/content/content-create-dialog.tsx
  frontend/src/components/projects/repository/content/content-data-field.tsx
  frontend/src/components/projects/repository/content/content-display-name.tsx
  frontend/src/components/projects/repository/content/content-edit-form.tsx
  frontend/src/components/projects/repository/content/content-list.tsx
  frontend/src/components/projects/repository/repository-create-dialog.tsx
  frontend/src/components/projects/repository/repository-sidebar.tsx
  frontend/src/components/projects/repository/schema/schema-field-create-dialog.tsx
  frontend/src/components/projects/repository/schema/schema-view.tsx
  frontend/src/lib/repository.ts
  frontend/src/validators/repository.tsx
Due: frontend

fix(repository): Fix broken required switch when adding schema field
  frontend/src/components/common/forms/form-fields.tsx
  frontend/src/components/projects/repository/schema/schema-field-create-dialog.tsx
  frontend/src/components/projects/repository/schema/schema-view.tsx
  frontend/src/lib/auth.ts
  frontend/src/lib/content.ts
  frontend/src/lib/project.ts
  frontend/src/lib/repository.ts
Due: frontend

docs: Add hours for 20.03.
  docs/hours.md
Due: none

Path conditions:
  backend: any of: backend
  frontend: any of: frontend
