Repository 3nd3r1/datakolo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

flags:
  backend:
    paths:
      - backend
  frontend:
    paths:
      - frontend

feat(project): Start implemepint project apiKey in backend
  backend/deno.lock
  backend/src/controllers/project.ts
  backend/src/models/project.ts
  backend/src/services/project.ts
  backend/src/utils/hash.ts
  backend/src/validators/project.ts
Due: backend

docs: Add hours for 21.03.
  docs/hours.md
Due: none

tests(backend): Add some project apiKey tests
  backend/src/routes/project.ts
  backend/tests/integration/db.ts
  backend/tests/integration/project.test.ts
Due: backend

refactor(backend): Refactors error handling and project permissions
  backend/src/controllers/auth.ts
  backend/src/controllers/content.ts
  backend/src/controllers/project.ts
  backend/src/controllers/repository.ts
  backend/src/middlewares/error.ts
  backend/src/services/content.ts
  backend/src/services/project.ts
  backend/src/services/repository.ts
  backend/src/services/user.ts
  backend/src/utils/errors.ts
  backend/src/validators/content.ts
  backend/src/validators/project.ts
  backend/src/validators/repository.ts
  backend/src/validators/user.ts
  backend/tests/integration/db.ts
  backend/tests/integration/project.test.ts
  backend/tests/integration/repository.test.ts
Due: backend

docs: Add hours for 27.03.
  docs/hours.md
Due: none

feat(api-key): Start implementing project apiKey generation in frontend
  frontend/src/app/projects/[projectId]/settings/layout.tsx
  frontend/src/app/projects/[projectId]/settings/page.tsx
  frontend/src/components/projects/project-settings.tsx
  frontend/src/components/projects/project-sidebar.tsx
  frontend/src/lib/project.ts
Due: frontend

docs: Add hours for 28.03.
  docs/hours.md
Due: none

feat(project): Add update project to backend
  backend/src/controllers/project.ts
  backend/src/controllers/repository.ts
  backend/src/routes/project.ts
  backend/src/services/project.ts
  backend/src/services/repository.ts
  backend/src/validators/project.ts
Due: backend

feat(project): Implement editing project in frontend
  frontend/src/components/projects/project-edit-form.tsx
  frontend/src/components/projects/project-settings.tsx
  frontend/src/lib/project.ts
  frontend/src/validators/project.tsx
Due: frontend

docs: Add hours for 03.04.
  docs/hours.md
Due: none

feat(api-key): Continue implementing project apiKey in frontend
  frontend/src/components/projects/project-settings.tsx
  frontend/src/lib/project.ts
Due: frontend

docs: Add hours for 04.04.
  docs/hours.md
Due: none

feat(api-key): Add getProjectApiKey to backend
  backend/src/controllers/project.ts
  backend/src/routes/project.ts
  backend/src/services/project.ts
  backend/src/validators/project.ts
Due: backend

feat(api-key): Continue implementing project apiKey in frontend
  frontend/src/app/projects/[projectId]/content/layout.tsx
  frontend/src/app/projects/[projectId]/layout.tsx
  frontend/src/app/projects/[projectId]/schema/layout.tsx
  frontend/src/app/projects/[projectId]/settings/layout.tsx
  frontend/src/components/login/register-form.tsx
  frontend/src/components/projects/project-settings.tsx
  frontend/src/components/projects/project-sidebar.tsx
  frontend/src/components/projects/repository/repository-sidebar.tsx
  frontend/src/lib/project.ts
Due: frontend

docs: Add hours for 10.04.
  docs/hours.md
Due: none

feat(api-key): Add apiKeyGenerateAt and revokeApiKey to backend
  backend/src/controllers/project.ts
  backend/src/models/project.ts
  backend/src/routes/project.ts
  backend/src/validators/project.ts
Due: backend

feat(api-key): Finnish implementing project apiKey in frontend
  frontend/src/components/projects/project-settings.tsx
  frontend/src/lib/project.ts
  frontend/src/validators/project.tsx
Due: frontend

feat(public-api): Implement public content api in backend
  backend/src/app.ts
  backend/src/controllers/publicApi/content.ts
  backend/src/middlewares/projectApiKey.ts
  backend/src/models/project.ts
  backend/src/models/user.ts
  backend/src/routes/publicApi/content.ts
  backend/src/routes/repository.ts
  backend/src/services/project.ts
  backend/src/services/publicApi/content.ts
  backend/src/services/publicApi/project.ts
  backend/src/services/publicApi/repository.ts
  backend/src/utils/oak.ts
  backend/tests/integration/publicApi.test.ts
Due: backend

docs: Add hours for 11.04.
  docs/hours.md
Due: none

docs: Add shadcn/ui disclaimers
  frontend/src/components/ui/README.md
  frontend/src/hooks/README.md
Due: frontend

refactor(frontend): Refactor projectSettings components in frontend
  frontend/src/app/projects/[projectId]/settings/page.tsx
  frontend/src/components/projects/settings/project-api-key-card.tsx
  frontend/src/components/projects/settings/project-edit-card.tsx
  frontend/src/components/projects/settings/project-settings.tsx
Due: frontend

feat(api-builder): Start implementing api-builder in frontend
  frontend/src/app/projects/[projectId]/api-builder/layout.tsx
  frontend/src/app/projects/[projectId]/api-builder/page.tsx
  frontend/src/components/projects/api-builder/project-api-builder.tsx
  frontend/src/components/projects/api-builder/project-request-builder-card.tsx
  frontend/src/components/projects/api-builder/project-request-preview-card.tsx
  frontend/src/components/projects/project-sidebar.tsx
Due: frontend

docs: Add hours for 17.04.
  docs/hours.md
Due: none

chore(*): Add datakolo logos
  README.md
  docs/images/datakolo-icon-no-bg.png
  docs/images/datakolo-icon.png
  docs/images/logo.png
  frontend/public/images/datakolo-icon.png
  frontend/public/images/datakolo-icon.svg
  frontend/public/images/logo.svg
  frontend/src/components/projects/project-sidebar.tsx
Due: frontend

feat(api-builder): Continue implementing api-builder in frontend
  frontend/src/app/projects/[projectId]/api-builder/page.tsx
  frontend/src/components/common/forms/form-fields.tsx
  frontend/src/components/projects/api-builder/project-api-builder.tsx
  frontend/src/components/projects/api-builder/project-request-builder-card.tsx
Due: frontend

docs: Add hours for 18.04.
  docs/hours.md
Due: none

fix(frontend): Add logo to navbar
  frontend/public/images/datakolo-icon.png
  frontend/public/images/datakolo-logo.svg
  frontend/public/images/logo.svg
  frontend/src/components/common/layouts/main-navbar.tsx
  frontend/src/components/main-navbar.tsx
Due: frontend

docs: Add non-wide logo
  README.md
  docs/images/logo-wide.png
  docs/images/logo.png
Due: none

feat(api-builder): Finish implementing api-builder
  frontend/src/app/projects/[projectId]/api-builder/page.tsx
  frontend/src/components/projects/api-builder/project-api-builder.tsx
  frontend/src/components/projects/api-builder/project-request-builder-card.tsx
  frontend/src/components/projects/api-builder/project-request-preview-card.tsx
Due: frontend

tests(api-builder): Start creating tests for api-builder component
  frontend/package-lock.json
  frontend/package.json
  frontend/tests/unit/projects/project-api-builder.test.tsx
Due: frontend

docs: Add hours for 21.04.
  docs/hours.md
Due: none

chore(makefile): Remove the c2p from makefile
  Makefile
Due: none

chore(frontend): Add favicons
  frontend/public/web-app-manifest-192x192.png
  frontend/public/web-app-manifest-512x512.png
  frontend/src/app/apple-icon.png
  frontend/src/app/favicon.ico
  frontend/src/app/icon0.svg
  frontend/src/app/icon1.png
  frontend/src/app/layout.tsx
  frontend/src/app/manifest.json
Due: frontend

tests(api-builder): Add a test-case for api-builder
  frontend/src/components/projects/api-builder/project-request-builder-card.tsx
  frontend/tests/unit/projects/project-api-builder.test.tsx
Due: frontend

build: Add Dockerfiles and captains for frontend and backend
  backend/build/Dockerfile
  backend/captain-definition
  frontend/.gitignore
  frontend/build/Dockerfile
  frontend/captain-definition
Due: backend, frontend

fix(backend): Use port from env
  backend/src/main.ts
Due: backend

build(frontend): Fix frontend Dockerfile
  frontend/build/Dockerfile
Due: frontend
