Repository 3nd3r1/datakolo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

flags:
  backend:
    paths:
      - backend
  frontend:
    paths:
      - frontend

docs: Add hours for 19.11.
  docs/hours.md
Due: none

docs: Add hours for 26.11.
  docs/hours.md
Due: none

test(project): Add creat project backend tests
  backend/seed.ts
  backend/src/services/project.ts
  backend/tests/integration/db.ts
  backend/tests/integration/project.test.ts
Due: backend

feat(project): Add projects page to frontend
  frontend/src/app/(main)/layout.tsx
  frontend/src/app/(main)/projects/page.tsx
  frontend/src/components/app-sidebar.tsx
  frontend/src/components/projects/project-list.tsx
  frontend/src/lib/project.ts
  frontend/src/types/project.tsx
Due: frontend

feat(project): Add individual project view
  backend/src/app.ts
  backend/src/controllers/auth.ts
  backend/src/controllers/project.ts
  backend/src/routes/project.ts
  backend/src/services/project.ts
  backend/src/utils/oak.ts
  backend/tests/integration/db.ts
  backend/tests/integration/project.test.ts
  frontend/src/app/(main)/projects/[id]/page.tsx
  frontend/src/components/projects/project-list.tsx
  frontend/src/lib/project.ts
  frontend/src/middleware.ts
Due: backend, frontend

docs: Add hours for 02.12.
  docs/hours.md
Due: none

test(project): Add ProjectList component test
  frontend/tests/unit/project-list.test.tsx
Due: frontend

refactor(auth): Create validators folder in frontend
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/login/login-form.tsx
  frontend/src/components/login/register-form.tsx
  frontend/src/lib/auth.ts
  frontend/src/types/project.tsx
  frontend/src/types/user.tsx
  frontend/src/validators/project.tsx
  frontend/src/validators/user.tsx
  frontend/tests/unit/login/login-form.test.tsx
  frontend/tests/unit/login/register-form.test.tsx
Due: frontend

feat(project): Implement project creation form
  frontend/src/app/(main)/projects/page.tsx
  frontend/src/components/projects/project-create-dialog.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/lib/project.ts
  frontend/tests/unit/projects/project-create-dialog.test.tsx
  frontend/tests/unit/projects/project-list.test.tsx
Due: frontend

feat(repository): Create models and validators for repositories
  backend/src/models/project.ts
  backend/src/models/repository.ts
  backend/src/models/user.ts
  backend/src/validators/repository.ts
Due: backend

docs: Add hours for 03.12.
  docs/hours.md
Due: none

feat(content): Create models and validators for content
  backend/src/models/content.ts
  backend/src/validators/content.ts
  backend/src/validators/repository.ts
Due: backend

feat(content): Implement contentData validation
  backend/src/validators/repository.ts
Due: backend

refactor(validator): Small change to backend validators
  backend/src/validators/project.ts
  backend/src/validators/user.ts
Due: backend

refactor(models): Small updates to some models in backend
  backend/src/models/project.ts
  backend/src/models/repository.ts
Due: backend

feat(content): Implement controllers for content and repository
  backend/src/controllers/content.ts
  backend/src/controllers/repository.ts
  backend/src/routes/content.ts
  backend/src/routes/repository.ts
  backend/src/services/content.ts
  backend/src/services/repository.ts
Due: backend

docs: Add hours for 09.12.
  docs/hours.md
Due: none

refactor(backend): Small backend updates
  backend/src/app.ts
  backend/src/validators/repository.ts
Due: backend

test(repository): Add repository backend tests
  backend/tests/integration/db.ts
  backend/tests/integration/project.test.ts
  backend/tests/integration/repository.test.ts
Due: backend

feat(content): Enable content routes
  backend/src/app.ts
Due: backend

test(content): Add content backend tests
  backend/src/validators/content.ts
  backend/tests/integration/content.test.ts
  backend/tests/integration/db.ts
Due: backend

docs: Add hours for 10.12.
  docs/hours.md
Due: none

feat(content): Add content and repository validators to frontend
  frontend/src/lib/project.ts
  frontend/src/validators/content.tsx
  frontend/src/validators/repository.tsx
Due: frontend

docs: Add hours for 17.12.
  docs/hours.md
Due: none

feat(content): Add content and repository services to frontend
  frontend/src/lib/content.ts
  frontend/src/lib/repository.ts
  frontend/src/validators/content.tsx
  frontend/src/validators/repository.tsx
Due: frontend

refactor(seed): Refactor the seed.ts in backend
  backend/seed.ts
Due: backend

feat(repository): Add sidebar with repositories to project page
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/(main)/layout.tsx
  frontend/src/app/(main)/projects/[id]/layout.tsx
  frontend/src/app/(main)/projects/page.tsx
  frontend/src/components/app-header.tsx
  frontend/src/components/app-sidebar.tsx
  frontend/src/components/projects/project-sidebar.tsx
  frontend/src/components/ui/dropdown-menu.tsx
  frontend/src/components/ui/sidebar.tsx
Due: frontend

docs: Add hours for 06.01.
  docs/hours.md
Due: none

feat(repository): Add schema-view for repositories
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/(main)/layout.tsx
  frontend/src/app/(main)/projects/[id]/layout.tsx
  frontend/src/app/(main)/projects/[projectId]/layout.tsx
  frontend/src/app/(main)/projects/[projectId]/page.tsx
  frontend/src/app/(main)/projects/[projectId]/repositories/[repositoryId]/page.tsx
  frontend/src/components/app-header.tsx
  frontend/src/components/main-sidebar.tsx
  frontend/src/components/projects/project-create-dialog.tsx
  frontend/src/components/projects/project-sidebar.tsx
  frontend/src/components/projects/repositories/field-create-dialog.tsx
  frontend/src/components/projects/repositories/schema-view.tsx
  frontend/src/components/ui/checkbox.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/components/ui/table.tsx
  frontend/src/validators/repository.tsx
Due: frontend

docs: Add hours for 23.01.
  docs/hours.md
Due: none

docs: Update README.md description
  README.md
Due: none

fix(*): Remove bg color from sidebars and add separators
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/main-sidebar.tsx
  frontend/src/components/projects/project-list.tsx
  frontend/src/components/projects/project-sidebar.tsx
  frontend/src/components/projects/repositories/schema-view.tsx
Due: frontend

feat(repository): Add repository update to backend
  backend/src/controllers/repository.ts
  backend/src/routes/repository.ts
  backend/src/services/repository.ts
  backend/src/validators/repository.ts
  backend/tests/integration/repository.test.ts
Due: backend

feat(repository): Start implementing create field form logic
  frontend/src/components/projects/project-create-dialog.tsx
  frontend/src/components/projects/repositories/field-create-dialog.tsx
  frontend/src/components/projects/repositories/schema-view.tsx
  frontend/src/lib/repository.ts
Due: frontend

docs: Add hours for 24.01.
  docs/hours.md
Due: none

refactor(frontend): Making the main-sidebar prettier
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/main-sidebar.tsx
  frontend/src/components/projects/project-create-dialog.tsx
Due: frontend

feat(repository): Make all field-create-form inputs controlled
  frontend/src/components/projects/repositories/field-create-dialog.tsx
  frontend/src/validators/repository.tsx
Due: frontend

docs: Add hours for 30.01.
  docs/hours.md
Due: none

fix(project): Fix project-create-dialog submit button
  frontend/src/components/projects/project-create-dialog.tsx
Due: frontend

feat(repository): Finish implementing field-create-dialog
  frontend/src/app/(main)/projects/[projectId]/repositories/[repositoryId]/page.tsx
  frontend/src/components/projects/repositories/field-create-dialog.tsx
  frontend/src/components/projects/repositories/schema-view.tsx
  frontend/src/lib/repository.ts
Due: frontend
